body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: rgb(255, 255, 255);

}

select {
  color: rgb(7, 6, 6);
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
  margin-top: 40px;
}

.login {
  color: green;
  
}
